body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:248px;
    top:102px;
    width:320px;
    height:404px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:410px;
}

.u1 {
    position:absolute;
    left:2px;
    top:194px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:258px;
    top:177px;
    width:301px;
    height:111px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:111px;
}

.u3 {
    position:absolute;
    left:2px;
    top:48px;
    width:297px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:278px;
    top:317px;
    width:50px;
    height:49px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:55px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:248px;
    top:467px;
    width:80px;
    height:39px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:45px;
}

.u7 {
    position:absolute;
    left:2px;
    top:13px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:328px;
    top:467px;
    width:80px;
    height:39px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:45px;
}

.u9 {
    position:absolute;
    left:2px;
    top:13px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:408px;
    top:467px;
    width:80px;
    height:39px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:45px;
}

.u11 {
    position:absolute;
    left:2px;
    top:13px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u12_container {
    position:absolute;
    left:488px;
    top:467px;
    width:80px;
    height:39px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:45px;
}

.u13 {
    position:absolute;
    left:2px;
    top:13px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Home_files/u0_normal.png');
}

.u14_container {
    position:absolute;
    left:248px;
    top:102px;
    width:320px;
    height:404px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:410px;
}

.u15 {
    position:absolute;
    left:2px;
    top:194px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u16_container {
    position:absolute;
    left:248px;
    top:467px;
    width:80px;
    height:39px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:45px;
}

.u17 {
    position:absolute;
    left:2px;
    top:13px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:328px;
    top:467px;
    width:80px;
    height:39px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:45px;
}

.u19 {
    position:absolute;
    left:2px;
    top:13px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u20_container {
    position:absolute;
    left:408px;
    top:467px;
    width:80px;
    height:39px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:45px;
}

.u21 {
    position:absolute;
    left:2px;
    top:13px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u22_container {
    position:absolute;
    left:488px;
    top:467px;
    width:80px;
    height:39px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:45px;
}

.u23 {
    position:absolute;
    left:2px;
    top:13px;
    width:76px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Home_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:258px;
    top:102px;
    width:301px;
    height:22px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:307px;
    height:28px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:297px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Home_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:248px;
    top:102px;
    width:22px;
    height:22px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:22px;
}

.u27 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Home_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:157px;
    top:0px;
    width:180px;
    height:80px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u29 {
    position:absolute;
    left:2px;
    top:26px;
    width:176px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../Home_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:41px;
}

.u30 {
    position:absolute;
    left:254px;
    top:61px;
    width:10px;
    height:41px;
    
}

.u31_normal {
    background-image: url('../Home_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:68px;
    top:408px;
    width:113px;
    height:137px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:143px;
}

.u32 {
    position:absolute;
    left:2px;
    top:23px;
    width:109px;
    height:91px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../Home_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:72px;
    height:3px;
}

.u33 {
    position:absolute;
    left:176px;
    top:476px;
    width:72px;
    height:10px;
    
}

.u34_normal {
    background-image: url('../Home_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:248px;
    top:544px;
    width:59px;
    height:39px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:45px;
}

.u35 {
    position:absolute;
    left:2px;
    top:6px;
    width:55px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Home_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:338px;
    top:544px;
    width:59px;
    height:39px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:45px;
}

.u37 {
    position:absolute;
    left:2px;
    top:0px;
    width:55px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Home_files/u34_normal.png');
}

.u38_container {
    position:absolute;
    left:418px;
    top:544px;
    width:59px;
    height:39px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:45px;
}

.u39 {
    position:absolute;
    left:2px;
    top:0px;
    width:55px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Home_files/u34_normal.png');
}

.u40_container {
    position:absolute;
    left:509px;
    top:544px;
    width:59px;
    height:39px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:45px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:55px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../Home_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:38px;
}

.u42 {
    position:absolute;
    left:283px;
    top:506px;
    width:10px;
    height:38px;
    
}

.u43_line {
    background-image: url('../Home_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:38px;
}

.u43 {
    position:absolute;
    left:363px;
    top:506px;
    width:10px;
    height:38px;
    
}

.u44_line {
    background-image: url('../Home_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:38px;
}

.u44 {
    position:absolute;
    left:443px;
    top:506px;
    width:10px;
    height:38px;
    
}

.u45_line {
    background-image: url('../Home_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:38px;
}

.u45 {
    position:absolute;
    left:534px;
    top:506px;
    width:10px;
    height:38px;
    
}

.u46_normal {
    background-image: url('../Home_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:308px;
    top:177px;
    width:180px;
    height:255px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:261px;
}

.u47 {
    position:absolute;
    left:2px;
    top:121px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Home_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:98px;
    top:255px;
    width:132px;
    height:70px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:76px;
}

.u49 {
    position:absolute;
    left:2px;
    top:28px;
    width:128px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_line {
    background-image: url('../Home_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:0px;
    top:4px;
    width:84px;
    height:3px;
}

.u50 {
    position:absolute;
    left:224px;
    top:295px;
    width:84px;
    height:10px;
    
}

