body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:50px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:170px;
  width:580px;
  height:170px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:170px;
}
#u3 {
  position:absolute;
  left:2px;
  top:64px;
  width:576px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:125px;
  top:1082px;
  width:635px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:125px;
  top:1082px;
  width:145px;
  height:104px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:104px;
}
#u7 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:250px;
  top:1082px;
  width:190px;
  height:104px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:104px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:186px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:399px;
  top:1082px;
  width:190px;
  height:104px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:104px;
}
#u11 {
  position:absolute;
  left:2px;
  top:34px;
  width:186px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:560px;
  top:1082px;
  width:200px;
  height:104px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:104px;
}
#u13 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:132px;
  top:70px;
  width:598px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:154px;
  top:188px;
  width:116px;
  height:128px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:128px;
}
#u17 {
  position:absolute;
  left:2px;
  top:56px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:141px;
  top:360px;
  width:580px;
  height:170px;
  font-size:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:170px;
}
#u19 {
  position:absolute;
  left:2px;
  top:64px;
  width:576px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:163px;
  top:378px;
  width:116px;
  height:128px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:128px;
}
#u21 {
  position:absolute;
  left:2px;
  top:56px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:141px;
  top:560px;
  width:580px;
  height:170px;
  font-size:36px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:170px;
}
#u23 {
  position:absolute;
  left:2px;
  top:64px;
  width:576px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:163px;
  top:598px;
  width:116px;
  height:128px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:128px;
}
#u25 {
  position:absolute;
  left:2px;
  top:56px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:141px;
  top:746px;
  width:580px;
  height:170px;
  font-size:36px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:170px;
}
#u27 {
  position:absolute;
  left:2px;
  top:64px;
  width:576px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:163px;
  top:788px;
  width:116px;
  height:128px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:128px;
}
#u29 {
  position:absolute;
  left:2px;
  top:56px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:379px;
  top:940px;
  width:61px;
  height:132px;
  font-size:72px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:132px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
